{
  "development": {
    "port": 7000,
    "connection_string": "postgres://postgres:root@localhost:5432/stock_notes",
    "service_url": "/stock-notes/ws/",
    "secret": "D3V3L0PM3NT",
    "auto_generate": true
  },
  "production": {
    "port": 7000,
    "connection_string": "postgres://postgres:root@localhost:5432/stock_notes",
    "service_url": "/stock-notes/ws/",
    "secret": "PR0DUCT10N",
    "auto_generate": false
  }
}